services:
  postgres:
    image: postgres:16-alpine
    container_name: prueba-tecnica-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: saas_erp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d saas_erp"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  postgres_data:
