services:
  api:
    profiles: ["full"]
    container_name: prueba-tecnica-api
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      NODE_ENV: development
      PORT: 3002
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/saas_erp?schema=public
      JWT_SECRET: change_me
      JWT_EXPIRES_IN: 1d
      WEB_URL: http://localhost:3004
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3002:3002"
    restart: unless-stopped

  web:
    profiles: ["full"]
    container_name: prueba-tecnica-web
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3002
    depends_on:
      api:
        condition: service_started
    ports:
      - "3004:3004"
    restart: unless-stopped
